{% extends "base.html" %}
{% block title %}SimpArt - About {% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
 <!-- Page Header-->
        <style>
            .head1{
                background-image: url("{{ url_for('static', filename='img/about-bg.jpg') }}") !important;
            }
        </style>
        <header class="masthead head1" >
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">Why did i make this site?</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Small website with articles. It let people make their own articles and see others.</p>
                        <p>The main reason of making this product is show my abilities and skills in web-developing. The html layout was made with bootstrap templates. Backend is Python, Flask. MySql database is beeing used. Site was punlished on github.</p>

                    </div>
                </div>
            </div>
        </main>
{% endblock %}