{% extends "base.html" %}
{% block title %}SimpArt - Main Page {% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
 <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>SimpArt</h1>
                            <span class="subheading">Web site with simple articles as portfolio. </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in posts %}
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">{{ post_name }}</h2>
                            <h3 class="post-subtitle">{{  post_description }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a >{{  post_author }}</a>
                            on {{ post_pub_date }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                </div>
            </div>
        </div>
{% endblock %}